
{% extends "layout.html" %}

{% block title %}
    Browse Songs
{% endblock %}

{% block main %}

<h1 align="center">
    All Songs
</h1>

<br><br>
    <!Youtube search>
    <h6 align="center"> Search these songs on Youtube!</h4>
    <form align="center" action="https://www.youtube.com/results?" method = "get">
        <input type="text" name="search_query"> <br>
        <input type="submit" value="Search Youtube">
    </form>

    <br><br><br>

    <!Creating a table of songs>
    <table id = "browse" align= "center" border="1">
        <thead>
            <tr align="center">
                <th onclick="sortTable(0)" width="200">
                    <font  size="5"> Song Title </font>
                </th>
                <th onclick="sortTable(1)" width="200">
                    <font size="5">Song Artist </font>
                </th>
                <th width="200">
                    <font size="5">Rating </font>
                </th>
                <th width="200">
                    <font size="5">Tags </font>
                </th>
            </tr>
        </thead>
        {% for song in songs %}
            <tr>
                <td> {{song["title"]}} </td>
                <td> {{song["artist"]}} </td>
                <td> {{song["rating"]}} </td>
                <td> {{song["tag"]}} </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}

