
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<h1 align="center">
    My Songs
</h1>
        <table border="1" align="center">
            <thead>
                <tr align= "center">
                    <th  width ="200">
                        <font size="5"> Song Title </font>
                    </th>
                    <th  width ="200">
                        <font size="5"> Song Artist</font>
                    </th>
                    <th  width ="200">
                        <font size ="5"> Time</font>
                    </th>
                </tr>
            </thead>
            {% for song in songs %}
                <tr>
                    <td>
                        {{song["title"]}}
                    </td>
                    <td>
                        {{song["artist"]}}
                    </td>
                    <td>
                        {{song["time"]}}
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}