
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


        <table>
            <thead>
                <tr>
                    <th>
                        Song Title
                    </th>
                    <th>
                        Song Artist
                    </th>
                    <th>
                        Inputted
                    </th>
                </tr>
            </thead>
            {% for song in songs %}
                <tr>
                    <td>
                        {{song["title"]}}
                    </td>
                    <td>
                        {{song["artist"]}}
                    </td>
                    <td>
                        {{song["time"]}}
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}