
{% extends "layout.html" %}

{% block title %}
    Recommended
{% endblock %}

{% block main %}
    <body>
        <h1 align = "center"> Recommended Songs </h1>
    <table id = "browse" align= "center" border="1">
        <thead>
            <tr align="center">
                <th  width="200">
                    <font  size="5"> Song Title </font>
                </th>
                <th width="200">
                    <font size="5">Song Artist </font>
                </th>
            </tr>
            <tr>
                <td> {{tags["title"]}} </td>
                <td> {{tags["artist"]}} </td>
            </tr>
        </thead>



</body>
{% endblock %}