
{% extends "layout.html" %}

{% block title %}
    Recommended
{% endblock %}

{% block main %}
<body>
    <h2 align = "center"> Recommended Songs Based on Tags </h2>
    <!Table with the recommended songs>
    <table id = "browse" align= "center" border="1">
        <thead>
            <tr align="center">
                <th  width="500">
                    <font  size="5"> Song Title </font>
                </th>
                <th width="500">
                    <font size="5">Song Artist </font>
                </th>
            </tr
            <tr>
            {% for tags in tags %}
                <td> {{tags["title"]}} </td>
                <td>  {{tags["artist"]}}</td>
            </tr>
            {% endfor %}
    </table>

</body>
{% endblock %}
